<br><br><br>
<div class=fortables col-lg-7">
<p>ADD NEW CATEGORY</p>
<form>
<!-- <label>CATEGORY ID:</label>
<input type="text" ng-model="addedcategory.id"/> -->
<label>CATEGORY NAME:</label>
<input type="text" ng-model="addedcategory.name">
<center><button class="btn-lg btn-primary" height="30" ng-click="addcategory()">ADD</button></center>
</form>
<p>ADD NEW PRODUCT</p>
<form>
<!-- <label>CATEGORY ID:</label>
<input type="text" ng-model="addedcategory.id"/> -->
<label>Product Name:</label>
<input type="text" ng-model="addedproduct.name"><br>
<label>Product Description:</label>
<input type="text" ng-model="addedproduct.description"><br>
<label>Unit Price:</label>
<input type="text" ng-model="addedproduct.unitprice"><br>

	<!-- <div ng-repeat="category in categories ">
		<option>{{category}}</option>
	<
 -->
<label>Category Id:</label>
<input type="text" ng-model="addedproduct.cid"><br>
<label>Quantity:</label>
<input type="text" ng-model="addedproduct.qty"><br>

<center><button class="btn-lg btn-primary" height="30" ng-click="addproduct()">ADD</button></center>
</form>