<br><br><br>
<div class="fortables col-lg-7">
    <p><b style= "font-size:larger">BILL</b></p>
    <table class="table" border="4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Total</th>
                <!-- <th>Quantity</th>
 -->
            </tr>
        </thead>
        <tr ng-repeat="product in cartList track by $index" border="2">
            <td>{{product.chosenProduct.name}}</td>
            <td>{{product.qtyofeach}}</td>
            <td>Rs {{product.chosenProduct.unitprice}}</td>
            <td>Rs {{ (product.chosenProduct.unitprice) * (product.qtyofeach) }}</td>
        </tr>
    </table>
    <p><b style="font-size: larger;">Your total amount is Rs {{sum}}</b></p>
    <button class="btn-primary" ng-click="placeorder()">PLACE ORDER</button>
</div>