 <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#FFCE2B;text-align:left" >

            <div class="container " style="text-align:left">
                <div class="navbar-header" style="text-align:left">
                    <a class="navbar-brand" href="/" style="text-align:left;font-family:'Comic Sans MS'; font-size:xx-large; background-color:white" ><b style="text-align: left">CYBERSHOP</b></a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home" style="color:black"><i class="fa fa-home color:red"></i> Home</a></li>
                    <li><a href="/contact" style="color:black"><i class="fa fa-envelope-o"></i> Contact Us</a></li>
                    <li><a href="/cart" style="color:black"><i class="fa fa-shopping-cart"></i> Cart</a></li>

                    <!-- <li><a href="/admin">ADMIN</a></li>
 -->                    <!-- <li><a href="#!/adddetails">AddDetails</a></li> -->


                </ul>
    </div>
</nav>
<br />
    <div class="sidenav navbar-default">
        <br />
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-6"><b class="forcategories" style="text-align:center">Categories</b></div>
            <div class="col-md-4"></div>
        </div>
        <div style="color:black">
            <br/><br/>
            <ul ng-repeat="category in categories " style="list-style: none">
                <li><a href="product/{{category.id}}">{{category.name}}<!--  - {{category.countP}} --></a></li>
            <!-- <a href="#!/Mobiles">Mobiles</a>
            <br />
            <a href="#!/Books">Books</a><br />
            <a href="#!/Accesories">Accessories</a><br />
            <a href="#!/Clothing">Clothing</a> -->
            </ul>
        </div>
    </div>


