<br><br><br>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="fortables col-lg-9">
    <div ng-repeat="product in products track by $index">
    
            <div class="w3-card-4 col-lg-3" style="margin-right: 4em; margin-bottom: 2em;height:15em">
            <header class="w3-container w3-light-grey">
                <h3>{{product.name}}</h3>
            </header>
            <div class="w3-container">
             <p>{{product.description}}</p>
             <p>PRICE  : RS {{product.unitprice}}</p>
             <br>
             <p><button class="btn-primary" ng-click="addtocart($index)">ADD</button></p>
         </div>
         <p ng-show="addedtocartmessage[$index]">ADDED TO CART</p>
         <!-- <br><br><br> -->
         
        </div>
        </div>
    <!--     <div ng-repeat="item in forcartitems track by $index">
        <p ng-show="addedtocartmessage[$index]">QTY: {{item.qtyofeachfordisplay}}</p>
</div> -->

    <br><br><br>
</div>
