<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="fortables col-lg-7">



<div ng-repeat="product in products track by $index">
<div class="w3-card-4" col-lg-4>
<header class="w3-container w3-light-grey">
<h3>{{product.name}}</h3>
</header>
<div class="w3-container">
 <p>{{product.description}}</p>
 <p>PRICE  : RS {{product.unitprice}}</p>
 <p><button class="btn-primary" ng-click="addtocart($index)">ADD</button></p>
</div>
&nbsp
&nbsp
</div>
<br><br><br>


</div>
</div>



