  <!-- <script data-require="jquery@1.10.1" data-semver="1.10.1" src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->
  <!-- <script src="https://rawgithub.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js"></script> -->
 <!--  <script data-require="angular.js@1.2.15" data-semver="1.2.15" src="http://code.angularjs.org/1.2.15/angular.js"></script> -->
 <!--  <script src="https://rawgithub.com/davidkonrad/angular-bootstrap3-typeahead/master/angular-bootstrap3-typeahead.js"></script> -->
 <!--  <script src="script.js"></script>
 -->  <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->


<div class="fortables col-lg-7" >
<body >
  <div class="fortables col-lg-7" >
    <div >
      <h2>bootstrap3-typeahead example</h2>
      <h4>selected value: {{ value }}</h4>
      States: <input type="text" bs3-typeahead bs3-source="states" ng-model="value"/>
    </div>
 </div>
</body>
</div>


